.navbar-brand {
    padding: 0;
}

a {
    text-decoration: unset !important;
}

#sidebar {
    position: fixed !important;
    min-width: 220px;
    max-width: 220px;   
}

.language-editor td {
    background: #091df333;
}

.myLabel {
    position: absolute;
    left: 73%;
    padding: 4px 15px;
    border-radius: 4px;
}

.card {
    border: none;
}

.nav-link {
    padding: .3rem .5rem;
}